# Move this file to a common directory where folders todoapp-backend and todoapp-frontend are located
services:
  backend:
    build: ./
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod

  frontend:
    build: ../todoapp-frontend
    env_file:
      - ../todoapp-frontend/.env
    ports:
      - "3000:80"
    depends_on:
      - backend